<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<br>
<br>
<br>
<br>
<div id ="quiwn"class="container-fluid bg-1 text-center">
    <h1 class="margin">Leonel Toledo</h1>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <br>
    <br>
    <h2>Soy alumno de la UTN FRA</h2>
</div>
<br>
<div class="container text-center">
    <h1>Batalla Naval</h1>
    <p>Es un juego tradicional de estrategia y algo de suerte, que involucra a dos participantes.</p>
    <h3>Tableros</h3>
    <p>Los jugadores manejan un tablero de océano y un tablero de tiro; cada uno divididos en casillas. Cada tablero representa una zona diferente del mar abierto: la propia y la contraria. En el primer tablero, el jugador coloca sus barcos y registra los «tiros» del oponente; en el otro, se registran los tiros propios contra el otro jugador, diferenciando los impactos y los que dan al agua. Al tiempo, se deduce la posición de los barcos del contrincante. </p>
    <h3>Desarrollo del juego</h3>
    <p>Se deben colocar los barcos propios, 1 Portaviones, 1 Acorazado, 1 Submarino y 2 Destructores. Primero clickear en el barco horizontal o vertical disponible y luego en el tablero para ubicarlo. Una vez todas las naves han sido posicionadas, se inicia una serie de rondas. En cada ronda, cada jugador en su turno «dispara» hacia la flota de su oponente indicando una posición, la que registra en el segundo tablero. Si esa posición es ocupada por parte de un barco contrario, el oponente cantará ¡Tocado! si todavía quedan partes del barco (casillas) sin dañar, o ¡Hundido! si con ese disparo la nave ha quedado totalmente destruida. El jugador que ha tocado un barco en su anterior jugada, volverá a disparar hasta que falle. Si la posición indicada no corresponde a una parte de barco alguno, cantará ¡Agua!.</p>
    <h3>Fin de la batalla</h3>
    <p>El juego termina con un ganador, quien destruya primero todas las naves de su oponente será el vencedor</p>
</div>
<br>
<br>
<br>
<br>
<br>