<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<br>

<div class="container animated fadeIn faster">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="juego">
                        <div id="score-board" class="score-board animated fadeInUp">
                            <div id="user-label" class="badge">Jugador</div>
                            <div id="computer-label" class="badge pc">Oponente</div>
                            <span id="user-scored">{{ scores[0] }}</span> : <span
                                id="computer-scored">{{ scores[1] }}</span>
                        </div>
                        <div class="choices animated bounceIn">
                            <div class="armas">
                                <div id="rock" class="choice col col-4">
                                    <img (click)="pick(0)" [ngClass]="{'selectedWeapon':(playerSelected === 0)}"
                                        width="150" height="150" src="./assets/imagenes/piedra.jpg" />
                                </div>
                                <div id="paper" class="choice col col-4">
                                    <img (click)="pick(1)" [ngClass]="{'selectedWeapon':(playerSelected === 1)}"
                                        width="150" height="150" src="./assets/imagenes/papel.jpg" />
                                </div>
                                <div id="scissors" class="choice col col-4">
                                    <img (click)="pick(2)" [ngClass]="{'selectedWeapon':(playerSelected === 2)}"
                                        idth="150" height="150" src="./assets/imagenes/tijera.jpg" />
                                </div>
                            </div>
                            <p id="action-message">Elegi tu arma!</p>
                            <div class="resultados animated fadeInUp" *ngIf="jugo">
                                <div *ngIf="enemySelected !== -1" class="flex-container flex-center">
                                    <h3 *ngIf="enemySelected === 0">Tu oponente eligió <img width="45" height="45"
                                            src="./assets/imagenes/piedra.jpg" /></h3>
                                    <h3 *ngIf="enemySelected === 1">Tu oponente eligió <img width="45" height="45"
                                            src="./assets/imagenes/papel.jpg" /></h3>
                                    <h3 *ngIf="enemySelected === 2">Tu oponente eligió <img width="45" height="45"
                                            src="./assets/imagenes/tijera.jpg" /></h3>
                                </div>
                                <div class="flex-container flex-center" *ngIf="loading">
                                    <h3>Tu oponente esta preparando su arma!</h3>
                                </div>
                                <!-- Resultados -->
                                <div *ngIf="!loading && isResultShow" class="flex-container flex-center resultado"
                                    style="flex-direction: column">
                                    <div [ngSwitch]="result">
                                        <ng-template [ngSwitchCase]="0">
                                            <h3> {{arma}} mata a {{arma2}}. Ganaste!</h3>
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="1">
                                            <h3> {{arma2}} mata a {{arma}}. Perdiste! </h3>
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="2">
                                            <h3>{{arma}} y {{arma2}} se cancelan. Empate! </h3>
                                        </ng-template>
                                        <ng-template ngSwitchDefault> </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>