<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




    <br>
    <br>
    <div class="container">
    <h3 class=" text-center">Chat</h3>
    <div class="messaging">
        <div class="inbox_msg">

            <div class="mesgs">
            <div class="msg_history">
                <div *ngFor='let mensaje of listadoMensajes'>
                    <div *ngIf="user === mensaje.usuario;else other_content" class="incoming_msg">
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>{{mensaje.mensaje}}</p>
                                <span class="time_date">{{mensaje.hora}}</span> 
                            </div>
                        </div>
                    </div>
                    <ng-template #other_content >
                        <div class="received_msg">
                            <div class="received_withd_msg">
                            <p>{{mensaje.mensaje}}</p>
                            <span class="time_date">{{mensaje.usuario}} - {{mensaje.hora}}</span>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <!--
                <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>el</p>
                        <span class="time_date"> 11:01 AM    |    June 9</span>
                        </div>
                    </div>
                </div>
                <div class="outgoing_msg">
                <div class="sent_msg">
                    <p>mio</p>
                    <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                </div>
                <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                    <p>el</p>
                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                </div>
                </div>
                <div class="outgoing_msg">
                <div class="sent_msg">
                    <p>mio</p>
                    <span class="time_date"> 11:01 AM    |    Today</span> </div>
                </div>
                <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                    <p>el</p>
                    <span class="time_date"> 11:01 AM    |    Today</span></div>
                </div>
                </div>
            </div>-->
            

            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                <input [(ngModel)]="msg" [ngModelOptions]="{standalone: true}"type="text" class="write_msg" placeholder="Type a message" />
                <button (click)="newMsg()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true">Enviar</i></button>
                </div>
            </div>
        </div>
        
        
        
        </div></div>

