<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isSignedIn" class="nav-item">
          <a class="nav-link" routerLink="/chat">Chat</a>
        </li>
        <li *ngIf="isSignedIn" class="nav-item">
          <a class="nav-link" routerLink="/encuesta">Encuesta</a>
        </li>
        <li *ngIf="isSignedIn" class="nav-item">
          <a class="nav-link" routerLink="/listado">Listado de resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quien-soy">Quien soy</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0" *ngIf="user$ | async as user else loggedIn">
        <a class="navbar-brand" >{{user?.email}}</a>
        <a class="navbar-brand" (click)="Logout()">Logout</a>
      </form>
      <ng-template #loggedIn>
        <form class="form-inline my-2 my-md-0" >
          <a class="navbar-brand" routerLink="/login">Login</a>
          <a class="navbar-brand" routerLink="/registro">Registro</a>
        </form>
      </ng-template>
      
    </div>
</nav>

<router-outlet></router-outlet>

<!--<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
    <p class="mt-5 mb-3 text-muted">&copy; UTN-FRA 2021</p>
  </div>
</footer>-->