<div class="container">
    <div class="offset-md-2 col-md-8 text-center">
        <div class="card text-center animated fadeIn faster">
            <div class="card-body">
                <div class="card-body">
                    <div class="pad-3 center-vertical row">
                        <span class="col-3 center-horizontal" *ngFor="let card of cards; index as i">
                            <img class="img-card" src="{{ card.visible ? card.url : imagesInact }}" (click)="CardSelected(i)" />
                        </span>
                    </div>
                    <div class="mt-3">
                        <div class="text-center mt-5">
                            <button (click)="StartGame()" class="btn back w-50">Nuevo Juego</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>